<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="30">#</th>
        <th>Judul</th>
        <th>Authors</th>
        <th>Mitra</th>
        <th>Tahun</th>
{#        <th>Level</th>#}
    </tr>
    </thead>
    <tbody>
    {% for com in coms %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ path('object_show', {id: com.id, type: "community-service"}) }}">{{ com.title }}</a></td>
            <td>{% include 'front/lecturer/people-names.html.twig' with {people: com.communityServiceLecturers, lecturer: lecturer } %}</td>
            <td>
                {% for mitra in com.communityServicePartners %}
                    {{ mitra.name }}
                {% endfor %}
            </td>
            <td>{{ com.year }}</td>
{#            <td>{% include 'front/field/level.html.twig' with {level:journal.level} %}</td>#}
    {% endfor %}

    </tbody>
</table>