{% extends "front/publication/_view.html.twig" %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block authors %}
    {% include 'front/lecturer/people-names.html.twig' with {people: item.journalLecturers} %}
{% endblock %}

{% block information %}
    {{ item.nameOfJournal }} | Vol. {{ item.volume }} | No. {{ item.number }} | Hal. {{ item.pages }}
{% endblock %}


{% block body %}
    <div class="abstract">
        {{ item.abstract|raw }}
    </div>

{% endblock %}


