{% extends "front/publication/_view.html.twig" %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block authors %}
    {% include 'front/lecturer/people-names.html.twig' with {people: item.bookLecturers} %}
{% endblock %}

{% block information %}
    {{ item.publisher }} | Edisi {{ item.edition}} | Kategori: {{ item.category }}
{% endblock %}


{% block body %}
    <div class="abstract">
{#        {{ item.abstract|raw }}#}
    </div>

{% endblock %}


